#container-list {
    max-width: 100%; /* Alterado para 100% para ser responsivo */
    height: auto; /* Permite que a altura se ajuste automaticamente */
    padding: 1rem; /* Adicionado padding para espaçamento interno */
}

#list-background {
    background-color: #67B4CA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 1rem; /* Alterado para rem para ser mais responsivo */
    padding: 1rem; /* Adicionado padding para espaçamento interno */
    width: 100%;
    max-width: 400px; /* Limita a largura máxima */
}

#list-title {
    color: #F3F1F1;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 0;
}

#medicine-list {
    background-color: #FFFF;
    width: 100%; /* Largura 100% do container */
    max-width: 400px; /* Limita a largura máxima */
    min-height: 200px;
    height: auto; /* Permite que a altura se ajuste */
    margin-top: 0;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#list-button {
    background-color: #99E5C7;
    text-shadow: 1px 1px 2px #000;
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* Ajustado para ser mais compacto */
    font-size: 16px;
    font-weight: 700;
    color: #FFFF;
    border: 0;
    height: auto; /* Permite ajuste dinâmico de altura */
    padding: 0.5rem; /* Adicionado padding para espaçamento */
    width: 100%;
    max-width: 300px; /* Limita a largura máxima */
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    #container-list {
        margin-left: 0;
        padding: 1rem;
    }

    #medicine-list {
        width: 100%;
        height: auto;
    }

    #list-button {
        font-size: 14px;
        padding: 0.5rem;
    }
}
